$color-red: #CF404D;

@mixin list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin flex {
  display: flex;
  justify-content: center;
}

@mixin link {
  text-decoration: none;
  color: black;
}

.page {
  min-width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
}

.header {
  width: 1110px;
  min-height: 800px;
}

.header__photo {
  background-image: url("/images/IMAGE.png");
  background-size: cover;
  position: absolute;
}

.header__title {
  @include flex();
  align-items: center;
  width: 620px;
  margin: 300px auto 0 auto;
  font-size: 50px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.table {
  @include flex();
  padding: 0;
  gap: 10px;
}

.table__list {
  @include list();
  @include flex();
  width: 110px;
  height: 50px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;

}

.table__list_back_color {
  background: $color-red;
  border: 2px solid $color-red;
}

.table__button {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  background-color: #CF404D00;
  border: 0;
}

.content {
  max-width: 1110px;
}

.heading {
  padding-bottom: 75px;
}

.heading__title {
  text-align: center;
  font-size: 31px;
  line-height: 36px;
  margin-top: 60px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading__subtitle {
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  margin-top: 22px;
  font-weight: 400;
  color:#73737374;
  font-family: 'Droid Sans';
}

.table__items {
  @include list();
  width: 220px;
  align-items: center;
}

.heading__photo {
  min-height: 80px;
  display: flex;
  align-items: center;
}

.heading__vector {
  margin-left: 10px;
}

.heading__article {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'oswald';
  margin: 10px 0;
}

.heading__text {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.74);
  font-family: 'Droid Sans';
}

.heading__link {
  margin-top: 7px;
  color: $color-red;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Oswald';
  font-weight: 400;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-red;
  padding: 44px 91px 44px 86px;
}

.action__text {
  color: #fff;
  font-size: 31px;
  line-height: 36px;
}

.action__button {
  background-color: $color-red;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  width: 127px;
  height: 50px;
}

.action__button:hover {
  background: linear-gradient(#e60606, #c009f8, #e60606);
}

.lightbox {
  z-index: 1;
}

.lightbox__table {
  @include flex();
  @include list();
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 72px;
  margin-bottom: 73px;
}

.lightbox__item {
  width: 215px;
  height: 215px;
  object-fit: cover;
}

.contact {
  padding-top: 58px;
  height: 500px;
  background-color: #fafafa;
}


.contact__form {
  @include flex();
  flex-wrap: wrap;
  margin: 0 auto;
  width: 680px;
  gap: 20px;
  row-gap: 30px;
  box-sizing: border-box;
}

.form__fieldset {
  border: none;
  padding: 0;
  position: relative;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.form__input {
  padding-left: 31px;
  color: #656565BD;
  font-size: 16px;
  line-height: 20px;
  width: 292px;
  height: 45px;
  border-radius: 4px;
  border: none;
  color: black;

  &:focus-visible {
    outline: 1px solid 808080;
  }
}

.form__input_type_message {
  width: 618px;
  min-height: 110px;
  padding-top: 21px;
  padding-right: 21px;
  resize: none;
}

.form__input_type_error {
  border: 1px solid red;
}

.form__input-error {
  display: none;
  position: absolute;
  top: 50px;
  left: 10px;
  color: $color-red;
  font-size: 12px;
  line-height: 10px;
}

.input-message-error {
  display: none;
  top: 140px;
}

.form__input-error_active {
  display: block;
}

.button_type_submit {
  padding: 0;
  margin-top: 13px;
  width: 670px;
  height: 45px;
  color: #fff;
  background-color: $color-red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .5s;
  &:active {
    transform: scale(1.05);
    transition: transform .5s;
  }
}

.button_inactive {
  border: 1px solid #808080;
  background-color: #fafafa;
  color: #808080;
  cursor: default;
}

.copyright {
  text-align: center;
  margin: 25px auto;
  font-size: 16px;
  line-height: 20px;
}

.footer {
  width: 330px;
  background-color: #2D3E4F;
  color: #FFF;
}

.footer__nav {
  margin-top: 206px;
}

.footer__title {
  width: 150px;
  margin: 0 auto;
  color: $color-red;
}

.footer__items {
  @include list();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 79px;
}

.footer__link {
  @include link();
  color: #fff;

  &:hover {
    color: black;
  }
}